In [1]:
import pandas as pd

In [2]:
from sqlalchemy import create_engine

In [15]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/ny_taxi')

In [16]:
engine.connect()

In [29]:
query = """
select *
from green_tripdata limit 10 
"""

pd.read_sql(query, con=engine)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1.0,112,196,1.0,5.88,18.0,0.50,0.5,0.00,0.0,None,0.3,19.30,2.0,1.0,0.0
1,1.0,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1.0,43,263,1.0,0.80,5.0,3.25,0.5,0.00,0.0,None,0.3,9.05,2.0,1.0,0.0
2,1.0,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1.0,255,228,2.0,7.50,21.5,0.50,0.5,0.00,0.0,None,0.3,22.80,2.0,1.0,0.0
3,1.0,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1.0,181,181,1.0,0.90,5.5,0.50,0.5,0.00,0.0,None,0.3,6.80,2.0,1.0,0.0
4,2.0,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1.0,97,188,1.0,2.52,10.0,0.50,0.5,2.26,0.0,None,0.3,13.56,1.0,1.0,0.0
5,2.0,2019-10-01 00:35:01,2019-10-01 00:43:40,N,1.0,65,49,1.0,1.47,8.0,0.50,0.5,1.86,0.0,None,0.3,11.16,1.0,1.0,0.0
6,1.0,2019-10-01 00:28:09,2019-10-01 00:30:49,N,1.0,7,179,1.0,0.60,4.0,0.50,0.5,1.00,0.0,None,0.3,6.30,1.0,1.0,0.0
7,2.0,2019-10-01 00:28:26,2019-10-01 00:32:01,N,1.0,41,74,1.0,0.56,4.5,0.50,0.5,0.00,0.0,None,0.3,5.80,2.0,1.0,0.0
8,2.0,2019-10-01 00:14:01,2019-10-01 00:26:16,N,1.0,255,49,1.0,2.42,10.5,0.50,0.5,0.00,0.0,None,0.3,11.80,2.0,1.0,0.0
9,1.0,2019-10-01 00:03:03,2019-10-01 00:17:13,Y,1.0,130,131,1.0,3.40,13.0,0.50,0.5,2.85,0.0,None,0.3,17.15,1.0,1.0,0.0

In [11]:
df = pd.read_csv('yello_tripdata_2024-01.csv', nrows=100)

In [13]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [18]:
df.to_sql(name='yellow_tripdata', con=engine, index=False)

100

In [21]:
df_green = pd.read_csv('green_tripdata_2019-10.csv')

/var/folders/q8/zddyfncs0215qyhkhg28fp980000gn/T/ipykernel_48500/29539273.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_green = pd.read_csv('green_tripdata_2019-10.csv')

In [27]:
print(pd.io.sql.get_schema(df_green, 'green_tripdata'))

CREATE TABLE "green_tripdata" (
"VendorID" REAL,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" REAL,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" REAL,
  "trip_type" REAL,
  "congestion_surcharge" REAL
)

In [26]:
df_green.lpep_pickup_datetime = pd.to_datetime(df_green.lpep_pickup_datetime)
df_green.lpep_dropoff_datetime = pd.to_datetime(df_green.lpep_dropoff_datetime)

In [28]:
df_green.to_sql(name='green_tripdata', con=engine, index=False)

386

In [30]:
df_zone = pd.read_csv('taxi_zone_lookup.csv')

In [31]:
print(pd.io.sql.get_schema(df_zone, 'taxi_zone_lookup'))

CREATE TABLE "taxi_zone_lookup" (
"LocationID" INTEGER,
  "Borough" TEXT,
  "Zone" TEXT,
  "service_zone" TEXT
)

In [32]:
df_zone.to_sql(name='taxi_zone_lookup', con=engine, index=False)

265